@media (max-width: 1400px) {
  header {
    height: 20vh;
    padding: 15px 5%;
  }
  header figure {
    width: 15%;
  }
  header div {
    width: 85%;
  }
  header div p {
    font-size: 2.5vw;
    margin: 0 auto;
  }
  header nav {
    width: 100%;
    margin-top: -3%;
  }
  header nav a {
    font-size: 25px;
    padding: 0 20px;
  }
  .descricao {
    margin-top: -1px;
    margin-bottom: -1px;
    height: auto;
    padding: 80px 10%;
  }
  .conteudo-descricao {
    width: 100%;
    font-size: 3vw;
    line-height: normal;
  }
  .cafe-destaque,
  .titulo-historia {
    font-size: 4vw;
  }
  .ver-mais,
  aside form .area-checkbox .div-checkbox {
    font-size: 2.5vw;
  }
  .ver-mais:hover,
  footer .contato h2 {
    font-size: 3.5vw;
  }
  #eventos p,
  .card-eventos section p {
    font-size: 2vw;
  }
  .descricao img {
    width: 100%;
    margin-top: 5%;
  }
  .main-titulo {
    padding: 0;
    font-size: 7vw;
  }
  .cards-produtos {
    padding: 70px;
  }
  .cards section {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 60vh;
  }
  .cards section figure {
    margin: 0;
  }
  .cards section figure figcaption {
    font-size: 2.1vw;
  }
  #eventos p {
    width: 100%;
    line-height: 4vw;
  }
  #eventos table {
    width: 100%;
    font-size: 2.3vw;
  }
  .card-eventos section {
    width: 100%;
    height: auto;
  }
  #historia-form {
    padding: 70px 30px;
  }
  .historia {
    width: 100%;
  }
  .historia p {
    font-size: 2.7vw;
    line-height: normal;
    padding: 10px;
  }
  form {
    width: 70%;
    margin-right: 15%;
    margin-top: 5%;
    font-size: 2.6vw;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 2vw;
  }
  footer {
    padding: 30px 10%;
  }
  footer .contato a {
    font-size: 3vw;
    padding: 10px;
  }
}

@media (max-width: 991px) {
  #eventos p,
  .cards section figure figcaption,
  .historia p {
    font-size: 2.7vw;
  }
  header {
    padding: 5% 5%;
  }

  header nav a {
    font-size: 20px;
  }
  header nav {
    margin-top: 0%;
  }
  .descricao {
    padding: 80px 5%;
  }
  .conteudo-descricao {
    font-size: 4vw;
  }
  .cafe-destaque {
    font-size: 5vw;
  }
  .ver-mais {
    font-size: 3vw;
  }
  .titulo-historia,
  .ver-mais:hover {
    font-size: 4vw;
  }

  .cards section {
    width: 48%;
    margin-right: 2%;
  }
}
@media (max-width: 767px) {
  #eventos p,
  .cards section figure figcaption,
  .historia p,
  form,
  header div p {
    font-size: 3vw;
  }

  header figure {
    margin-top: 2%;
  }

  header nav {
    margin-top: -3%;
  }

  .cafe-destaque {
    font-size: 6vw;
  }
  .ver-mais {
    font-size: 3.5vw;
  }
  .titulo-historia,
  .ver-mais:hover {
    font-size: 4.5vw;
  }

  .cards-produtos {
    padding: 50px 20px;
  }
  .cards section {
    height: 65vh;
  }

  #eventos,
  .card-eventos {
    padding: 70px 20px;
  }

  .card-eventos section p {
    font-size: 2.8vw;
  }

  form {
    width: 80%;
    margin-right: 8%;
  }

  footer {
    padding: 30px 5%;
  }
  footer .contato h2 {
    font-size: 4vw;
  }
  footer .contato a {
    font-size: 3.5vw;
    padding: 10px;
  }
}
